$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
  background: rgba(255,255,255,0.0);
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  // font-size: large;
}

nav {
  font-size: large;
}

.btn-xl {
    padding: 10px 10px;
    font-size: 15px;
    // border-radius: 10px;
    width:40%;    //Specify your width here
}

html {
  background: url(../images/chore-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#one-chore-content h2 {
text-decoration: underline
}

.sign-up-section {
    width: 250px;
    height: 50px;
}

.sign-in-section {
    width: 250px;
    height: 50px;
}

.change-password-section {
    width: 300px;
    height: 50px;
}

.hide-sign-up-menu { display: none; }

.alert {
   line-height:20px;
   padding:20px 15px;
  width: 60%;
}

.update-chore-error-alert{
   line-height:20px;
   padding:20px 15px;
  width: 20%;
}

.add-chore-error-alert{
   line-height:20px;
   padding:20px 15px;
  width: 20%;
}
.delete-chore-error-alert{
   line-height:20px;
   padding:20px 15px;
  width: 20%;
}

.get-one-chore-error-alert{
   line-height:20px;
   padding:20px 15px;
  width: 20%;
}

#select-width option{
  width: 50px;
}


#chore-content {
  background:rgba(255,255,255, 0.4);
  font-size: 20px;
  width: 450px;
  margin: left;
}

#one-chore-content {
  background:rgba(255,255,255, 0.4);
  width: 450px;
  margin: left;
}

 .dropdown-submenu {
     position: relative;
 }

 .dropdown-submenu>.dropdown-menu {
     top: 0;
     left: 100%;
     margin-top: -6px;
     margin-left: -1px;
     -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px;
     border-radius: 0 6px 6px 6px;
 }

 .dropdown-submenu:hover>.dropdown-menu {
     display: block;
 }

 .dropdown-submenu>a:after {
     display: block;
     content: " ";
     float: right;
     width: 0;
     height: 0;
     border-color: transparent;
     border-style: solid;
     border-width: 5px 0 5px 5px;
     border-left-color: #ccc;
     margin-top: 5px;
     margin-right: -10px;
 }

 .dropdown-submenu:hover>a:after {
     border-left-color: #fff;
 }

 .dropdown-submenu.pull-left {
     float: none;
 }

 .dropdown-submenu.pull-left>.dropdown-menu {
     left: -100%;
     margin-left: 10px;
     -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
     border-radius: 6px 0 6px 6px;
 }
